---
import Layout from "@layouts/Page.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { getPosts } from "@utils";

const posts = await getPosts();

const PAGE_TITLE = "Blog";
const SEO_TITLE = "Blog - Neil Merton";
const SEO_DESCRIPTION =
  "Here you'll find some written versions of my thoughts.";
---

<Layout
  pageTitle={PAGE_TITLE}
  seoDescription={SEO_DESCRIPTION}
  seoTitle={SEO_TITLE}
>
  <p>
    Below you'll find some written versions of my thoughts. Opinions expressed
    in these posts are my own, and don't reflect those of my employer.
  </p>
  <hr />
  <ul class="posts">
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            {post.data.heroImage && (
              <img
                width={720}
                height={360}
                src={post.data.heroImage}
                alt={post.data.title}
              />
            )}
            <h4 class="title">{post.data.title}</h4>
            {post.data.draft && <span class="draft">Draft</span>}
          </a>
          <p class="date">
            <FormattedDate date={post.data.pubDate} />
          </p>
          <p class="description">{post.data.description}</p>
          {post.data.tags && (
            <ul class="tags">
              <li>Tagged with</li>
              {post.data.tags.map((tag) => (
                <li>
                  <a href={`/blog/tags/${tag}`}>{tag}</a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  .posts {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      align-items: baseline;
      display: flex;
      gap: 1rem;
    }
    a:has(.draft) {
      text-decoration: none;

      .title {
        text-decoration: underline;
      }
    }

    li:not(:first-of-type) {
      font-size: 90%;
      padding-block-start: 2rem;
    }

    .date {
      color: rgb(var(--gray));
      font-size: 90%;
    }

    .tags {
      display: flex;
      gap: 0.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-block-start: 1rem;

      li {
        font-size: 0.8rem;
        padding-block-start: 0;
      }
    }

    .title {
      color: var(--accent);
    }

    .draft {
      font-size: 80%;
      font-weight: 600;
      letter-spacing: 0.075rem;
      text-decoration: none;
    }
  }
</style>
