---
import Layout from "@layouts/Page.astro";
import { CONCEPTS_LIST } from "@constants/concepts";
import { SKILLS_LIST } from "@constants/skills";
import { TOOLS_LIST } from "@constants/tools";

const PAGE_TITLE = "Experience";
const SEO_TITLE = "Experience - Neil Merton";
const SEO_DESCRIPTION =
  "Multiple lists of software and hardware Neil Merton uses to build websites and web applications.";
---

<Layout
  pageTitle={PAGE_TITLE}
  seoDescription={SEO_DESCRIPTION}
  seoTitle={SEO_TITLE}
>
  <p>
    Over the last 20 years I've primarily worked with <abbr
      title="Business to Business">B2B</abbr
    > companies, helping them provide performant web-based platforms and solving usability
    challenges.
  </p>
  <p>
    These companies have been startup <abbr title="Software as a Service"
      >SaaS</abbr
    > businesses, regulated <abbr title="Financial Technology">fintech</abbr>
    disruptors and established health & safety service providers.
  </p>
  <p>
    Most recently, I worked remotely for <a
      href="https://www.enee.io"
      target="_blank">enee.io</a
    > as the Lead Frontend Developer. To date this has been the most rewarding role
    of my career &mdash; I'm working with a great team of people, building a product
    that is making a difference to people in countries where they don't have the luxury
    of a stable grid.
  </p>
  <p>
    If you're curious about my career history, you can find me on <a
      href="https://www.linkedin.com/in/neilmerton/"
      target="_blank">LinkedIn</a
    >, my profile is public.
  </p>
  <h2>Concepts</h2>
  <ul class="concepts-list">
    {
      CONCEPTS_LIST.map((item) =>
        item.title ? (
          <li>
            <abbr title={item.title}>{item.label}</abbr>
          </li>
        ) : (
          <li>{item.label}</li>
        ),
      )
    }
  </ul>
  <h2>Skills</h2>
  <ul class="skills-list">
    {SKILLS_LIST.map((item) => <li>{item.label}</li>)}
  </ul>
  <h2>Tools</h2>
  <ul class="tools-list">
    {TOOLS_LIST.map((item) => <li>{item.label}</li>)}
  </ul>
  <p>
    You can find more details around tools on my <a href="/about/uses"
      >Uses page</a
    >.
  </p>
</Layout>
