---
import Bullet from "./Bullet.astro";
import Icon from "./Icon.astro";
import { SITE_TITLE, SOCIAL_LINKS } from "../constants";

const today = new Date();
const year = today.getFullYear();
---

<footer>
  <div class="container">
    <p>
      &copy; {year}
      {SITE_TITLE} &bullet; All rights reserved
    </p>
    <div class="social-links">
      {
        SOCIAL_LINKS.map((link, index) =>
          index > 0 ? (
            <>
              <Bullet />
              <a href={link.href} target="_blank">
                <span class="sr-only">{link.description}</span>
                <Icon icon={link.icon} color="var(--accent)" size="1.5rem" />
              </a>
            </>
          ) : (
            <a href={link.href} target="_blank">
              <span class="sr-only">{link.description}</span>
              <Icon icon={link.icon} color="var(--accent)" size="1.5rem" />
            </a>
          ),
        )
      }
    </div>
  </div>
</footer>

<style>
  footer {
    color: rgb(var(--gray));
    padding: 2em 1em 3em 1em;
  }

  .container {
    align-items: center;
    display: flex;
    font-size: 80%;
    justify-content: space-between;
    margin: auto;
    max-width: calc(100% - 2em);
    width: 720px;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--accent);
  }
  .social-links a:hover {
    color: var(--accent-dark);
  }
</style>
