---
import Bullet from "./Bullet.astro";
import Icon from "./Icon.astro";
import { SOCIAL_LINKS } from "@constants/links";
import { SITE_TITLE } from "@constants/site";

const today = new Date();
const year = today.getFullYear();
---

<footer>
  <div class="container">
    <p>
      Copyright &copy; {year}
      {SITE_TITLE} &bullet; All rights reserved
    </p>
    <div class="social-links">
      {
        SOCIAL_LINKS.map((link, index) =>
          index > 0 ? (
            <>
              <Bullet />
              <a href={link.href} target="_blank">
                <span class="sr-only">{link.description}</span>
                <Icon icon={link.icon} color="var(--accent)" size="1.25rem" />
              </a>
            </>
          ) : (
            <a href={link.href} target="_blank">
              <span class="sr-only">{link.description}</span>
              <Icon icon={link.icon} color="var(--accent)" size="1.25rem" />
            </a>
          )
        )
      }
    </div>
  </div>
</footer>

<style>
  footer {
    color: rgb(var(--grey));
    padding-block: 2rem 6rem;
    width: 100%;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    gap: 1rem;

    p {
      text-align: center;
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;

    a {
      text-decoration: none;
      color: var(--accent);

      &:hover {
        color: var(--accent-dark);
      }
    }
  }

  @media (min-width: 720px) {
    footer {
      padding-block: 2rem;
      .container {
        flex-direction: row;
        justify-content: space-between;
      }

      .social-links {
        flex-direction: row;
      }
    }
  }
</style>
