---
import Bullet from "./Bullet.astro";
import Icon from "./Icon.astro";
import { SITE_TITLE, SOCIAL_LINKS } from "../constants";

const today = new Date();
const year = today.getFullYear();
---

<footer>
  <div class="container">
    <p>
      &copy; {year}
      {SITE_TITLE} &bullet; All rights reserved
    </p>
    <div class="social-links">
      {
        SOCIAL_LINKS.map((link, index) =>
          index > 0 ? (
            <>
              <Bullet />
              <a href={link.href} target="_blank">
                <span class="sr-only">{link.description}</span>
                <Icon icon={link.icon} color="var(--accent)" size="1.5rem" />
              </a>
            </>
          ) : (
            <a href={link.href} target="_blank">
              <span class="sr-only">{link.description}</span>
              <Icon icon={link.icon} color="var(--accent)" size="1.5rem" />
            </a>
          ),
        )
      }
    </div>
  </div>
</footer>

<style>
  footer {
    color: rgb(var(--gray));
    margin-block-end: 5rem;
    padding: 1rem 2rem;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;

    p {
      text-align: center;
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;

    a {
      text-decoration: none;
      color: var(--accent);

      &:hover {
        color: var(--accent-dark);
      }
    }
  }

  @media (min-width: 720px) {
    footer {
      margin-block-end: 0;
    }
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
    .social-links {
      flex-direction: row;
    }
  }

  @media (min-width: 720px) {
    footer {
      margin-block: 2rem;

      .container {
        width: 40rem;
      }
    }
  }

@media (min-width: 1024px) {
  footer {
    .container {
      width: 46.5rem;
    }
  }
}
</style>
