---
import Bullet from "./Bullet.astro";
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
import { Image } from 'astro:assets';
import profileImage from "../assets/profile_400x400.jpeg";
import { SITE_TITLE, SOCIAL_LINKS } from "../constants";
---

<header>
  <nav>
    <a aria-label="Neil Merton's homepage" href="/">
      <Image
        alt="Neil Merton's photo"
        src={profileImage}
        width="32"
        height="32"
      />
      <span>{SITE_TITLE}</span>
    </a>
    <div class="internal-links">
      <HeaderLink href="/experience">
        <Icon icon="experience" color="var(--accent)" size="1.5rem" />
        <span>Experience</span>
      </HeaderLink>
      <Bullet />
      <HeaderLink href="/about">
        <Icon icon="about" color="var(--accent)" size="1.5rem" />
        <span>About</span>
      </HeaderLink>
      <Bullet />
      <HeaderLink href="/uses">
        <Icon icon="uses" color="var(--accent)" size="1.5rem" />
        <span>Uses</span>
      </HeaderLink>
    </div>
    <div class="social-links">
      {
        SOCIAL_LINKS.map((link, index) =>
          index > 0 ? (
            <>
              <Bullet />
              <a href={link.href} target="_blank">
                <span class="sr-only">{link.description}</span>
                <Icon icon={link.icon} color="var(--accent)" size="1.5rem" />
              </a>
            </>
          ) : (
            <a href={link.href} target="_blank">
              <span class="sr-only">{link.description}</span>
              <Icon icon={link.icon} color="var(--accent)" size="1.5rem" />
            </a>
          ),
        )
      }
    </div>
  </nav>
</header>

<style>
  header {
    background-color: rgb(var(--surface-background));
    bottom: 0;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    left: 0;
    margin: 0;
    padding: 0 1em;
    position: fixed;
    right: 0;
    z-index: 1;
  }

  nav {
    align-items: center;
    color: rgb(var(--gray));
    display: flex;
    gap: 0.5rem;
    justify-content: center;

    a {
      align-items: center;
      border-bottom: 0.2rem solid transparent;
      color: rgb(var(--black));
      display: inline-flex;
      gap: 0.75rem;
      margin-block-end: 0.125rem;
      padding: 1em 1em 0.8rem;
      text-decoration: none;

      &.active {
        border-bottom-color: var(--accent-dark);
        color: var(--accent);
        text-decoration: none;
      }

      &[aria-label] span {
        display: none;
      }

      img {
        border-radius: 0.5rem;
      }

      span {
        display: none;
      }
    }

    .internal-links {
      align-items: center;
      display: flex;
      gap: 0.5rem;
    }
  }

  .social-links,
  .social-links a {
    align-items: center;
    display: none;
    gap: 0.5rem;
  }
  
  @media (min-width: 720px) {
    header {
      bottom: auto;
      top: 0;
    }
    nav {
      gap: 1rem;
      justify-content: space-between;

      a {
        margin-block-end: 0;
        padding: 1em 0.5em 0.8em;

        &[aria-label] span {
          color: rgb(var(--black));
          display: inline-block;
          font-weight: 500;
        }

        span {
          display: inline-block;
          font-weight: 400;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    nav a span {
      display: inline-block;
    }
    .social-links,
    .social-links a {
      display: flex;
    }
  }
</style>
