---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, mainClass } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <style>
      html {
        scroll-timeline: --page-scroll block;
      }

      @keyframes grow-progress {
        from {
          transform: scaleX(0);
        }
        to {
          transform: scaleX(1);
        }
      }

      #progress {
        animation: grow-progress auto linear;
        animation-timeline: --page-scroll;
        background: rgb(var(--gray-dark));
        height: 0.2em;
        left: 0;
        position: fixed;
        top: 0;
        transform-origin: 0 50%;
        width: 100%;
        z-index: 10;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 0.825rem;
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        color: rgb(var(--gray));
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-bottom: 0.5em;
      }
      .last-updated-on {
        font-size: 0.8rem;
        font-style: italic;
      }

      main.albums-list {
        p > img {
          display: block;
          float: none;
          margin-block-end: 1rem;
          margin-inline: auto;
        }
      }

      @media (min-width: 720px) {
        main {
          margin-top: 5rem;
        }
        main.albums-list {
          p > img {
            float: left;
            margin-inline-end: 1rem;
            margin-inline-start: 0;
          }
        }
      }
    </style>
  </head>

  <body>
    <div id="progress"></div>
    <Header />
    <main class={mainClass}>
      <article>
        {
          heroImage && (
            <div class="hero-image">
              <img width={1020} height={510} src={heroImage} alt={title} />
            </div>
          )
        }
        <div class="prose">
          <header class="title">
            <h1>{title}</h1>
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
          </header>
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
